<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Product List</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price (MAD)</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${listProducts}">
            <td th:text="${p.id}">1</td>
            <td th:text="${p.name}">Example</td>
            <td th:text="${p.price}">100</td>
            <td th:text="${p.quantity}">2</td>
            <td>
                <a onclick="return confirm('Est-vous sur?')" class="btn btn-sm btn-danger" th:href="@{/delete(id=${p.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS (optional) -->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
